################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aio overlay/x64/Debug
/x64/Debug
*.ini
